.nader:before {
    height: '250px';
    width: '250px';
    background-image: url('../images/nader.png');
    background-color: rgba(45, 91, 227, 0.85); 
    background-size: '250px'; 
    border-radius: '50%';
    display: 'flex';
    justify-content: 'center'; 
    align-items: 'center'; 
    text-align: 'center';
}